<div class="row bs-wizard" style="border-bottom:0;">
    <div class="col-xs-4 bs-wizard-step complete">
        <div class="text-center bs-wizard-stepnum"><b>Upload/Select Files</b></div>
        <div class="progress"><div class="progress-bar"></div></div>
        <a href="#" class="bs-wizard-dot"></a>
    </div>

    <div class="col-xs-4 bs-wizard-step complete">
        <div class="text-center bs-wizard-stepnum"><b>Set Options/Preview</b></div>
        <div class="progress"><div class="progress-bar"></div></div>
        <a href="#" class="bs-wizard-dot"></a>
    </div>

    <div class="col-xs-4 bs-wizard-step disabled">
        <div class="text-center bs-wizard-stepnum"><b>Add to Cart</b></div>
        <div class="progress"><div class="progress-bar"></div></div>
        <a href="#" class="bs-wizard-dot"></a>
    </div>
</div>
<article class="container">
    <div class="text-center">
        <h3 class="item-name">{{workbooksDocument.product.Name | productTypes}}</h3>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <iframe ng-if="workbooksDocument.product.xp.document.URL" class="doc-preview" src="{{workbooksDocument.productPreviewUrl}}"></iframe>
        </div>
        <div class="col-sm-4">
            <form name="workbooksform" ng-submit="workbooksDocument.submit()">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Binding, Stapling & Covers</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <select class="form-control" ng-model="workbooksDocument.customizationOptions.Binding" ng-options="binding as binding for binding in workbooksDocument.binding" ng-required="true"></select>
                        </div>
                        <div class="form-group" ng-if="workbooksDocument.customizationOptions.Binding == 'Staple'">
                            <label>Staple Option</label>
                            <select class="form-control" ng-model="workbooksDocument.customizationOptions.StapleOption" ng-options="staple as staple for staple in workbooksDocument.stapleOptions" ng-required="workbooksDocument.customizationOptions.Binding == 'Staple'"></select>
                        </div>
                        <div class="form-group" ng-if="workbooksDocument.customizationOptions.Binding == 'Coil Binding & Covers' || workbooksDocument.customizationOptions.Binding == 'Comb Binding & Covers'">
                            <label>Cover Option</label>
                            <select class="form-control" ng-model="workbooksDocument.customizationOptions.CoverColor" ng-options="color as color for color in workbooksDocument.paperColors" ng-required="workbooksDocument.customizationOptions.Binding == 'Coil Binding & Covers' || workbooksDocument.customizationOptions.Binding == 'Comb Binding & Covers'"></select>
                        </div>
                        <div class="form-group" ng-if="workbooksDocument.customizationOptions.Binding == 'Binder & Spine'">
                            <label>Color</label>
                            <select class="form-control" ng-model="workbooksDocument.customizationOptions.BinderColor" ng-options="color as color for color in workbooksDocument.binderColors" ng-required="workbooksDocument.customizationOption.Binding == 'Binder & Spine'"></select>
                            <label>Size</label>
                            <select class="form-control" ng-model="workbooksDocument.customizationOptions.BinderSize" ng-options="size as size for size in workbooksDocument.binderSizes" ng-required="workbooksDocument.customizationOption.Binding == 'Binder & Spine'"></select>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Tabs and Inserts</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group" ng-if="workbooksDocument.customizationOptions.Binding && workbooksDocument.customizationOptions.Binding != 'None' && workbooksDocument.customizationOptions.Binding != 'Staple'">
                            <label>First Line of Tab</label>
                            <input type="text" class="form-control" ng-model="workbooksDocument.customizationOptions.TabFirstLine" />
                            <label>Second Line of Tab</label>
                            <input type="text" class="form-control" ng-model="workbooksDocument.customizationOptions.TabSecondLine" />
                            <label>Paper Color</label>
                            <select class="form-control" ng-model="workbooksDocument.customizationOptions.TabColor" ng-options="color as color for color in workbooksDocument.binderColors"></select>
                        </div>
                        <div class="alert alert-info" ng-if="!workbooksDocument.customizationOptions.Binding || workbooksDocument.customizationOptions.Binding == 'None' || workbooksDocument.customizationOptions.Binding == 'Staple'">
                            <p>Tabs are unavailable if you have selected Stapling.</p>
                            <p>Tabs are available only if Binding of 3-Hole Punching is selected.</p>
                        </div>
                    </div>
                </div>
                <div>
                    <button ng-disabled="workbooksform.$invalid" class="btn btn-success pull-right" type="submit">
                        <i class="fa fa-plus-circle"></i>
                        Add To Order
                    </button>
                </div>
            </form>
        </div>
    </div>
</article>