<main id="Login" class="panel panel-default" ng-switch="login.form">
    <div ng-switch-when="login">
        <form class="panel-body" name="LoginForm" ng-submit="login.submit()" >
            <h1 class="text-center">Login</h1>
            <div class="alert alert-success" ng-if="login.registerSuccess">Congratulations! Please wait for your supervisor to accept your registration request.</div>
            <div class="form-group">
                <label for="Username">Username</label>
                <input type="text" class="form-control" id="Username" ng-model="login.credentials.Username" ng-required="true" />
            </div>
            <div class="form-group">
                <label for="Password">Password</label>
                <input type="password" class="form-control" id="Password" ng-model="login.credentials.Password" ng-required="true" />
            </div>
            <div class="text-center">
                <button id="submit_login" type="submit" class="btn btn-primary" ng-disabled="LoginForm.$invalid">Submit</button>
            </div>
            <div class="text-center">
                <a id="forgot_password" class="btn btn-link" ng-click="login.setForm('forgot')">Forgot Password?</a>
                <a id="register" class="btn btn-link" ng-click="login.setForm('register')">Register for Account</a>
            </div>
        </form>
    </div>
    <div ng-switch-when="register">
        <form class="panel-body" name="RegisterForm" ng-submit="login.register()">
            <h1 class="text-center">Register</h1>
            <div class="form-group">
                <label for="registerusername">Username</label>
                <input type="text" class="form-control" id="registerusername" ng-model="login.registerCredentials.Username" ng-required="true" />
            </div>
            <div class="form-group">
                <label for="registerfirstname">First Name</label>
                <input type="text" class="form-control" id="registerfirstname" ng-model="login.registerCredentials.FirstName" ng-required="true" />
            </div>
            <div class="form-group">
                <label for="registerlastname">Last Name</label>
                <input type="text" class="form-control" id="registerlastname" ng-model="login.registerCredentials.LastName" ng-required="true" />
            </div>
            <div class="form-group">
                <label for="Email">Email</label>
                <input type="text" class="form-control" id="RegisterEmail" ng-model="login.registerCredentials.Email" ng-required="true" />
            </div>
            <button type="submit" id="register_submit" class="btn btn-primary" ng-disabled="RegisterForm.$invalid">Submit</button>
            <a id="back_to_login" class="btn btn-link" ng-click="login.setForm('login')">Back to Login</a>
        </form>
    </div>
    <div ng-switch-when="forgot">
        <form class="panel-body" name="ForgotPasswordForm" ng-submit="login.forgotPassword()">
            <h1 class="text-center">Forgot Password</h1>
            <div class="form-group">
                <label for="Email">Email</label>
                <input type="text" class="form-control" id="Email" ng-model="login.credentials.Email" ng-required="true" />
            </div>
            <button type="submit" id="email_submit" class="btn btn-primary" ng-disabled="ForgotPasswordForm.$invalid">Submit</button>
            <a id="back_to_login" class="btn btn-link" ng-click="login.setForm('login')">Back to Login</a>
        </form>
    </div>
    <div ng-switch-when="reset">
        <form class="panel-body" name="ResetPasswordForm" ng-submit="login.resetPassword()" >
            <h1 class="text-center">Reset Password</h1>
            <div class="form-group">
                <label for="ResetUsername">Username</label>
                <input type="text" class="form-control" id="ResetUsername" ng-model="login.credentials.ResetUsername" ng-required="true" />
            </div>
            <div class="form-group">
                <label for="NewPassword">New Password</label>
                <input type="password" class="form-control" id="NewPassword" ng-model="login.credentials.NewPassword" ng-required="true" />
            </div>
            <div class="form-group">
                <label for="ConfirmPassword">Confirm Password</label>
                <input type="password" class="form-control" id="ConfirmPassword" ng-model="login.credentials.ConfirmPassword" ng-required="true" />
            </div>
            <button type="submit" id="reset_submit" class="btn btn-primary" ng-disabled="ResetPasswordForm.$invalid || login.credentials.NewPassword != login.credentials.ConfirmPassword">Submit</button>
        </form>
    </div>
    <div ng-switch-when="verificationCodeSuccess">
        <form class="panel-body" name="VerificationCodeSuccessForm">
            <h1 class="text-center">Forgot Password</h1>
            <div class="alert alert-info" id="forgot_message">Forgot Password email has been sent. Please check your email in order to reset your password.</div>
        </form>
    </div>
    <div ng-switch-when="resetSuccess">
        <form class="panel-body" name="ResetSuccessForm">
            <h1 class="text-center">Reset Password</h1>
            <div class="alert alert-info">Your password has been reset.</div>
            <a class="btn btn-link" id="back_to_login2" ng-click="login.setForm('login')">Back to Login</a>
        </form>
    </div>
</main>
