<article class="container-fluid">
    <h3 class="page-header">
        <b>New Document</b>
    </h3>
    <form name="NewAdHocForm" ng-submit="documentsNewDocument.submit()">
        <div class="row">
            <div class="col-sm-4 form-group">
                <label for="productNameInput">Product Name</label>
                <input id="productNameInput" type="text" class="form-control" ng-model="documentsNewDocument.newDocument.Name" ng-required="true"/>
            </div>
            <div class="form-group col-sm-4">
                <ordercloud-file-upload model="documentsNewDocument.newDocument" keyname="document" label="Document" extensions="doc, pptx, docx, ppt" invalid-extension="jpg"></ordercloud-file-upload>
            </div>
            <div class="form-group col-sm-4">
                <ordercloud-file-upload model="documentsNewDocument.newDocument" keyname="image" label="Image" extensions="jpg, jpeg, png, gif" invalid-extension="x"></ordercloud-file-upload>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 form-group">
                <label for="productDescriptionInput">Description</label>
                <textarea id="productDescriptionInput" type="text" class="form-control" ng-model="documentsNewDocument.newDocument.Description"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 form-group">
                <button type="submit" class="btn btn-primary" ng-disabled="NewAdHocForm.$invalid">Save</button>
                <button type="button" class="btn btn-default" ui-sref="^">Cancel</button>
            </div>
            <div class="col-sm-9 form-group">
                <iframe ng-if="documentsNewDocument.preview" class="doc-preview" src="{{documentsNewDocument.iframeURL}}" style="width: 100%"></iframe>
            </div>
        </div>
    </form>
</article>

