<div class="row bs-wizard" style="border-bottom:0;">
    <div class="col-xs-3 bs-wizard-step complete">
        <div class="text-center bs-wizard-stepnum"><b>Review Your Cart</b></div>
        <div class="progress"><div class="progress-bar"></div></div>
        <a href="#" class="bs-wizard-dot"></a>
    </div>
    <div class="col-xs-3 bs-wizard-step disabled">
        <div class="text-center bs-wizard-stepnum"><b>Delivery</b></div>
        <div class="progress"><div class="progress-bar"></div></div>
        <a href="#" class="bs-wizard-dot"></a>
    </div>
    <div class="col-xs-3 bs-wizard-step disabled">
        <div class="text-center bs-wizard-stepnum"><b>Payment</b></div>
        <div class="progress"><div class="progress-bar"></div></div>
        <a href="#" class="bs-wizard-dot"></a>
    </div>
    <div class="col-xs-3 bs-wizard-step disabled">
        <div class="text-center bs-wizard-stepnum"><b>Order Complete</b></div>
        <div class="progress"><div class="progress-bar"></div></div>
        <a href="#" class="bs-wizard-dot"></a>
    </div>
</div>
<article class="container-fluid" id="cart_view">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <ng-pluralize count="cart.lineItems.Meta.TotalCount" when="{
							'1': '1 Item in Your Cart',
							'other': '{} Items in Your Cart'
						}"></ng-pluralize>
            </h3>
        </div>
        <div style="max-height:750px; overflow-y:auto;" ordercloud-infinite-scroll controlleras="cart">
            <table class="table table-hover">
                <colgroup>
                    <col style="width:10%;">
                    <col style="width:65%;">
                    <col style="width:10%">
                    <col style="width:10%">
                    <col style="width:5%">
                </colgroup>
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th class="text-center">Quantity</th>
                        <th class="text-center">Price</th>
                        <th class="text-center"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="lineItem in cart.lineItems.Items track by $index">
                        <td>
                            <figure style="width: 100px;">
                                <img ng-if="lineItem.Product.xp.image" class="img-responsive" ng-src="{{lineItem.Product.xp.image.URL}}" alt="Product Image">
                            </figure>
                        </td>
                        <td>
                            <a href="#">{{lineItem.Product.Name | productTypes}}</a><br>
                            <small class="text-muted">{{lineItem.ProductID}}</small>
                        </td>
                        <td>
                            <form name="{{'lineitem_' + $index + '_quantity'}}" ng-submit="cart.updateQuantity(cart.order, lineItem)" class="form-group">
                                <div ng-form="lineitem_quantity">
                                    <input tabindex="{{$index + 1}}" ng-blur="cart.updateQuantity(cart.order, lineItem)" type="number" min="{{lineItem.Product.StandardPriceSchedule.MinQuantity}}" max="{{lineItem.Product.StandardPriceSchedule.MaxQuantity}}" required="true" class="form-control text-center" ng-model="lineItem.Quantity">
                                </div>
                            </form>
                        </td>
                        <td class="text-center">
                            <small class="text-success">{{lineItem.LineTotal + lineItem.Markup | currency}}</small>
                        </td>
                        <td>
                            <div class="btn-group-vertical" style="float: right;">
                                <button ng-if="lineItem.Specs.length" class="btn btn-default" ui-sref="catalog.lineitem({lineitemid: lineItem.ID, specformid: lineItem.Product.xp.specform})">
                                    <i class="fa fa-edit text-warning"></i>
                                </button>
                                <button ng-click="cart.removeItem(cart.order, lineItem)" class="btn btn-default">
                                    <i class="fa fa-trash text-danger"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="panel-footer">
            <p class="lead">
                <span class="pull-right">Estimated Price: <span class="text-success">{{cart.order.Subtotal + cart.order.Markup | currency}}</span></span>
                <br>
                <span class="pull-right subtotal-subtext">Document and product prices displayed are estimated</span>
                <br>
                <span class="pull-right subtotal-subtext">and do not include shipping and packing &handling (if applicable) or tax.</span>
            </p>

        </div>
    </div>
    <button type="button" ui-sref="delivery" class="btn btn-success pull-right">Checkout</button>
</article>