<article>
    <div class="text-center">
        <h3 class="item-name">{{adhocPosterBanner.product.Name || adhocPosterBanner.product.ID}}</h3>
        <div ng-if="adhocPosterBanner.product.xp.image">
            <img class="img-responsive image-center" ng-src="{{adhocPosterBanner.product.xp.image.URL}}" alt="Product Image">
        </div>
    </div>
    <div class="row">
        <form name="posterbannerform" ng-submit="adhocPosterBanner.submit()">
            <div class="col-sm-2 col-sm-offset-5">
                <div class="input-group">
                    <input type="number" ng-required="true" class="form-control text-center" min="{{adhocPosterBanner.product.StandardPriceSchedule.MinQuantity}}" max="{{adhocPosterBanner.product.StandardPriceSchedule.MaxQuantity}}" ng-model="adhocPosterBanner.product.Quantity" ng-if="!adhocPosterBanner.product.StandardPriceSchedule.RestrictedQuantity" placeholder="Quantity">
                    <div class="input-group-btn">
                        <button ng-disabled="posterbannerform.$invalid" class="btn btn-success" type="submit">
                            <i class="fa fa-plus-circle"></i>
                            Add To Order
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</article>