<ui-view>
    <div class="row bs-wizard" style="border-bottom:0;">
        <div class="col-xs-4 bs-wizard-step complete">
            <div class="text-center bs-wizard-stepnum"><b>Select Product</b></div>
            <div class="progress"><div class="progress-bar"></div></div>
            <a href="#" class="bs-wizard-dot"></a>
        </div>

        <div class="col-xs-4 bs-wizard-step disabled">
            <div class="text-center bs-wizard-stepnum"><b>Set Options</b></div>
            <div class="progress"><div class="progress-bar"></div></div>
            <a href="#" class="bs-wizard-dot"></a>
        </div>

        <div class="col-xs-4 bs-wizard-step disabled">
            <div class="text-center bs-wizard-stepnum"><b>Add to Cart</b></div>
            <div class="progress"><div class="progress-bar"></div></div>
            <a href="#" class="bs-wizard-dot"></a>
        </div>
    </div>
    <article class="container-fluid">
        <div class="product-list row">
            <div class="col-md-3" ng-repeat="product in promotional.products">
                <div class="product-item" ui-sref="promotionalproducts.product({productID: product.ID})">
                    <h3 class="item-name">{{product.Name || product.ID}}</h3>
                    <div>
                    <span class="fa-stack fa-5x" ng-if="!product.xp.image">
                        <i class="fa fa-camera fa-stack-1x"></i>
                        <i class="fa fa-ban fa-stack-2x text-danger"></i>
                    </span>
                        <div ng-if="product.xp.image">
                            <img class="img-responsive" ng-src="{{product.xp.image.URL}}" alt="Product Image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</ui-view>