.doc-preview {
  width: 80%;
  min-height: 650px;
}

.new-document-upload {
  border: 2px dashed black;
  border-radius: 25px;
  max-height: 300px !important;
}

.existing-document {
  max-height: 300px !important;
  border: 2px dashed black;
  border-radius: 25px;
}

.image-center {
  margin: auto;
}

.ad-hoc-document-form {
  padding: 10px;
  h3 {
    margin-bottom:30px;
  }
}

.upload-box > div {
  flex-flow:column nowrap;
  display:flex;
  align-items:center;
  justify-content:center;
  height:100%
}

.upload-box i {
  font-size: 8em;
  line-height:80%
}

.upload-box p {
  margin-top: 20px;
}

.dropbox-blue {
  color: @dropbox-blue;
}

.panel-accordion .panel-heading
{
  padding: 0;
}

.panel-accordion .panel-heading a
{
  display: block;
  padding: 10px 15px;
}

.panel-accordion .panel-heading a {
  text-decoration: none;
}